<div class="container">
  <nav>
    <a href="/products/cart">Cart (<%=@cart_items ? @cart_items.length : "0" %>)</a>
    <br>
    <% if @current_customer %>
      <form action="/log_out" method="post">
        <input type="submit" value="Log Out">
      </form>
    <% else %>
      <a href="/sign_up">Sign Up</a>
      <a href="/log_in">Log In</a>
    <%end%>
  </nav>

  <h2 id="product-list-title">Products:</h2>
  <ul class="gallery">
    <% @products.each do |product| %>
      <li>
        <h3><%= product.name %></h3>
        <p><img height="200px" src="<%= product.image %>"></p>
        <p>$<%= product.price %></p>
        <a href="/products/<%=product.id%>">Click for more information</a>

        <form action="/add_to_cart" method="post">
          <input type="hidden" name="id" value="<%=product.id%>">
          <input type="submit" value="Add to Cart">
        </form>
      </li>
    <% end %>
  </ul>
</div>
